body{
    background-color: white ;
}

a:link {
    text-decoration: none;;
}
a:visited {
    text-decoration: none;
}
.words:hover{
    text-decoration: none;
    display: block;
    padding: 17.5px 20px 17.5px 20px ;
    transition-duration: 0.32s;
    transition-timing-function: ease-in;
}
/* .profpicture{
    border-radius: 50%;
}
.fotobiasa{
    border-radius: 40px 40px;
} */
/* .kotakfoto{
    border-radius: 40px 40px;
    border: 4px solid green;
    padding: 5px;
    width: 710px;
} */
.middlepicture{
    text-align: center;
    
}
.words{
    display: block;
    padding: 15px 150px 15px 150px  ;
    margin: 20px 750px 20px 750px ;
    background-color: #2864d4;
    color: #fff;
    text-decoration: none;
    border-radius: 15px; 
    justify-content: center;
    border-color: black
}
.margin{
    margin: 5px ;
}
.icon:hover {
padding: 3px 3px 3px 3px;
transition: 0.1ms;
}